## Brasil Data Vis

In [12]:
import pandas as pd

df_one = pd.read_excel("./data/brasil.xlsx")
df_one.head()

,yearmo,Confronto_GAC,Morte_GAC,feridos_GAC,carcere_privado_GAC,invasão_domicilio_GAC,Operações_policiais,Morte_policial,feridos_polícia,invasão_domicilio,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,den_tiroteio,area1_operacao,area2_operacao,area3_operacao,area4_operacao,area5_operacao,den_operacao
0,2016m1,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1,2016m2,NaN,NaN,NaN,NaN,NaN,3.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
2,2016m3,NaN,NaN,NaN,NaN,NaN,3.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,1,1,0,2
3,2016m4,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,1,0,0,0,1
4,2016m5,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0